.msg {
    text-transform: uppercase;
    font-size: .8rem;
    position: absolute;
    top: 8px;
    right: 24px;
}

@media screen and (min-width: 682px) {
    .msg {
      top:16px;
    }
}

@media screen and (min-width: 1860px) {
    .msg {
      position:fixed;
      top:16px;
    }
}
