.countdown-article {
  gap: 0.5rem;
  display: flex;
  padding-bottom: 1.5rem;
}

.countdown-title {
  color: var(--secondary-font-color);
  font-size: 1rem;
  font-weight: 100;
}

#countdown {
  flex-direction: row;
}

.countdown-container {
  gap: 0.1rem;
  display: flex;
  height: fit-content;
}

.glow {
  font-family: "digital-7";
  font-size: var(--counter-font-size);
  color: var(--secondary-font-color);
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow > h2 {
  font-size: calc(2.325rem + 0.9vw) !important;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px var(--secondary-font-color),
      0 0 10px var(--secondary-font-color), 0 0 15px #e60073, 0 0 20px #e60073,
      0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 15px #ff4da6,
      0 0 20px #ff4da6, 0 0 25px var(--secondary-font-color),
      0 0 30px var(--secondary-font-color), 0 0 35px var(--secondary-font-color);
  }
}

.digit {
  min-width: 50px;
}

.small {
  font-size: var(--description-font-size);
  letter-spacing: 2px;
}
