.error {
  color: red;
  position: relative;
  border-radius: 5px;
  padding: 0.1rem;
  visibility: hidden;
}

.error-span {
  opacity: 1;
  color: red;
  font-size: 0.6rem;
  visibility: hidden;
}

@media screen and (min-width: 682px) {
  .error {
    font-size: 0.8rem;
  }
}
