@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-image: url(../public/img/bg-1-mobile.png);
  object-fit: cover;
  height: 100%;
  color: var(--primary-font-color);
  min-height: 100%;
  overflow-x: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: roboto;
  position: relative;
}

@font-face {
  font-family: "digital-7";
  src: url("../public/fonts/digital-7.ttf");
}
@font-face {
  font-family: "iknu";
  src: url("../public/fonts/iknu.normal.ttf");
}

:root {
  --primary-font-color: #fff;
  --secondary-font-color: #74fcfd;
  --title-font-size: 8rem;
  --preamble-font-size: 0.8rem;
  --footer-font-size: 0.5rem;
  --footer-font-size-md: 0.6rem;
  --button-font-size: 1rem;
  --counter-font-size: 2rem;
  --description-font-size: 0.8rem;
  --font: "roboto" sanserif;
  --font-iknu: "iknu" sanserif;
  --font-digital: "digital-7" sanserif;
}

article {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media screen and (min-width: 682px) {
  body {
    background-image: url("/img/swemint-bg-1.jpg");
  }
}
