@font-face {
  font-family: "iknu";
  src: url("../public/fonts/iknu.normal.ttf");
}

.text-container {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  display: flex;
  color: white;
}

.title {
  font-family: "iknu";
  font-size: var(--title-font-size);
  font-weight: 300;
  margin-bottom: 1rem;
}

.title:hover {
  cursor: pointer;
}

.preamble {
  text-align: center;
  font-size: var(--preamble-font-size);
  letter-spacing: 1px;
  line-height: 1.2;
}

.size-up {
  font-size: 1.5rem;
}

@media screen and (max-width: 375px) {
  .preamble {
    line-height: 1;
  }
}

@media screen and (min-width: 682px) {
  .title {
    font-size: 14rem;
    margin-top: -40px;
  }
  .preamble {
    max-width: 110ch;
  }
}
