
.bg-container {
    position: fixed;
    height: 100vh;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-image {
    z-index: -1;
}

.overlay-container {
    opacity: 0.6;
    z-index: 0;
    background: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.site-container {
    height: fit-content;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex;
    position: relative;
    gap: 2rem;
}