.main-container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  margin: auto 0;
  width: calc(100vw - 3rem);
  max-width: 1360px;
  overflow-x: hidden;
  gap: 2rem;
}
